footer{
    font-size: 15px;
    background-color: rgb(20, 20, 20);width: 100%;
}
footer li{list-style-type: none;
}
footer i{
    margin-right: 10px;
}

footer p,footer a{
    color: rgb(88, 88, 88);text-decoration:none;
}
footer h2{
    text-transform: uppercase;color:grey;margin-bottom:8px;font-size:24px;
}
.sec-1{
    display: flex;flex-direction: row;justify-content: space-between;padding:30px 10px;
}
.link3 span,i{
    color: rgb(83, 83, 83);
}
.about{
    width: 40%;
}
.about p{
    text-align: justify;
}
.sec-3{
    display: flex;justify-content:center;height:100px;align-items: center;border-top: 1px solid gray;
}
.sec-3 li{
    display:inline-block;width: 50px;height:50px;border-radius: 50%;
    margin-right:20px;
    background-color: black;
    
}
.sec-3 ul li i{
    font-size:24px;line-height:47px;text-align: center;color: whitesmoke;padding-left:15px;
}
.sec-3 ul li:nth-child(1):hover{
    background: #3B5998;transition:0.3s
}
.sec-3 ul li:nth-child(2):hover{
    background: #55ACEE;transition:0.3s
}
.sec-3 ul li:nth-child(3):hover{
    background: #eb4924;transition:0.3s
}
.sec-3 ul li:nth-child(4):hover{
    background: #3B5998;transition:0.3s
}
.sec-3 ul li:nth-child(5):hover{
    background: #2c4762;transition:0.3s
}
.sec-4{
    background-color: rgb(17, 17, 17);display: flex;justify-content: center;
    padding:30px;
}
.sec-4 p{position:relative;}
.sec-4 p::after{
    content: '';display: block;width: 0;height: 2px;
    position: absolute;right: 0;bottom: -10px;background-color: whitesmoke;transition: all .3s;
}
.sec-4 p:hover::after{
    width: 100%;
}
.sec-1 a:hover,.sec-4 a:hover{color:whitesmoke ;transition:0.3s}

