*{
    padding: 0;margin: 0;box-sizing: border-box;font-family: 'Gayathri', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
  }
  h1{
    font-weight: bold;text-align: center;margin-top:5rem;
  }
  .news-row{
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:47rem;
  border-radius: 5px;
  margin:20px auto;
  height:15rem;overflow: hidden;
  }
  
  .news-row:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } 
  #loader {
    position: absolute;
    left:45%;top:45%;
    z-index: 1;
    background-color: rgba(red, green, blue, alpha);
    width: 150px;height: 150px;
    border:10px solid #f3f3f3;
    border-radius: 50%;
    border-top:10px solid black;
    width: 80px;
    height: 80px;  
    animation: spin 2s linear infinite;
  }  
  @keyframes spin {    
    100% { transform: rotate(360deg); }
  }
  
  .news-card-image img{
    position:static;float: left;
    height: 13.5rem;
    width:17rem;
    border-radius: 4px;
    margin-top:15px;
    margin-left:10px;
    margin-bottom:20px;    
    background-position: 50%;
    
  }
  
  .content{
    margin-left:18rem;display: block;padding: 1rem 0.5rem;justify-content: center;
  }
  .title{
    font-size: 1rem;font-weight: bold;
  }